/*
filename: lab04
author: Minh Khoa Nguyen
created: 16 Jan 2025
last modified: 16 Jan 2025
description: lab04.html
*/

h1 {
    color:purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}

aside, footer {
    font-style: italic;
}

h1, h2, h3 {
    font-style: arial, sans-serif;
}

table {
    border: 1px solid black;
}