/*
filename: lab04
author: Minh Khoa Nguyen
created: 16 Jan 2025
last modified: 16 Jan 2025
description: lab04.html
*/

* {
    font-family: calabri, sans-serif;
}

h1 {
    color:purple;
    font-size: 2em;
    font-weight: bold;
}